.wolf{
    margin-left: 50px;
    margin-top: 100px;
    display: inline-block;
}
.wolf_1{
    width: 200px;
    height: 200px ;
    background-color: #cfcece;
    clip-path: polygon(0 0, 37% 78%, 83% 46%);
    
}
.wolf_2{
    width: 200px;
    height: 200px;
    background-color: #878787;
    clip-path: polygon(46% 16%, 12% 86%, 66% 53%);
    margin: -153px 0px 0px -53px;
}
.wolf_3{
    width: 200px;
    height: 226px;
    background-color: #c3c3c3;;
    margin: -247px 0px 0px -52px;
    clip-path: polygon(26% 0, 12% 97%, 46% 37%);
}
.wolf_4{
    width: 300px;
    height: 200px;
    background-color: #acacac;
    margin: -134px 0px 0px -28px;
    clip-path: polygon(65% 0, 84% 0, 84% 74%, 23% 74%, 15% 100%, 0% 63%);
}
.wolf_5{
    width: 200px;
    height: 200px;
    background-color: #c5c5c5;
    margin: -139px 0px 0px -80px;
    clip-path: polygon(26% 33%, 36% 100%, 49% 69%);

}
.wolf_6{
    width: 215px;
    height: 200px;
    background-color: #878787;
    margin: -215px 0px 0px 44px;
    clip-path: polygon(83% 51%, 51% 80%, 0% 51%);
}
.wolf_7{
    width: 200px;
    height: 200px;
    background-color: #bfbfbf;
    margin: -179px 0px 0px 26px;
    clip-path: polygon(66% 70%, 43% 99%, 7% 39%);
}
.wolf_8{
    width: 200px;
    height: 200px;
    background-color: #dadada;
    margin: -139px 0px 0px 81px;
    clip-path: polygon(72% 9%, 45% 62%, 16% 68%, 35% 39%);
}
.wolf_9{
    width: 200px;
    height: 200px;
    background-color: #e6e6e6;
    margin: -181px 0px 0px 124px;
    clip-path: polygon(50% 0%, 23% 53%, 50% 53%);
}
.wolf_10{
    width: 200px;
    height: 200px;
    background-color: black;
    margin: -194px 0px 0px 124px;
    clip-path: polygon(49% 80%, 23% 50%, 50% 50%);
}
.wolf_11{
    width: 200px;
    height: 209px;
    background-color: #e6e6e6;
    margin: -101px 0px 0px 34px;
    clip-path: polygon(69% 0%, 94% 30%, 48% 49%, 39% 6%);
}
.wolf_12{
    width: 200px;
    height: 200px;
    background-color: #c1c1c1;
    margin: -149px 0px 0px 122px;
    clip-path: polygon(50% 1%, 50% 45%, 26% 45%, 4% 21%);
}
.wolf_13{
    width: 200px;
    height: 220px;
    background-color: #a4a4a4;
    margin: -377px 0px 0px -37px;
    clip-path: polygon(39% 6%, 75% 59%, 84% 100%, 0% 83%);
}
.wolf_14{
    width: 200px;
    height: 200px ;
    background-color: #cfcece;
    clip-path: polygon(0 0, 37% 78%, 83% 46%);
    
}
.wolf_15{
    width: 200px;
    height: 200px;
    background-color: #878787;
    clip-path: polygon(46% 16%, 12% 86%, 66% 53%);
    margin: -153px 0px 0px -53px;
}
.wolf_16{
    width: 200px;
    height: 226px;
    background-color: #c3c3c3;;
    margin: -247px 0px 0px -52px;
    clip-path: polygon(26% 0, 12% 97%, 46% 37%);
}
.wolf_17{
    width: 300px;
    height: 200px;
    background-color: #bfbfbf;
    margin: -134px 0px 0px -28px;
    clip-path: polygon(65% 0, 84% 0, 84% 74%, 23% 74%, 15% 100%, 0% 63%);
}
.wolf_18{
    width: 200px;
    height: 200px;
    background-color: #949494;
    margin: -139px 0px 0px -80px;
    clip-path: polygon(26% 33%, 36% 100%, 49% 69%);

}
.wolf_19{
    width: 215px;
    height: 200px;
    background-color: #878787;
    margin: -215px 0px 0px 44px;
    clip-path: polygon(83% 51%, 51% 80%, 0% 51%);
}
.wolf_20{
    width: 200px;
    height: 200px;
    background-color: #bfbfbf;
    margin: -179px 0px 0px 26px;
    clip-path: polygon(66% 70%, 43% 99%, 7% 39%);
}
.wolf_21{
    width: 200px;
    height: 200px;
    background-color: #dadada;
    margin: -139px 0px 0px 81px;
    clip-path: polygon(72% 9%, 45% 62%, 16% 68%, 35% 39%);
}
.wolf_22{
    width: 200px;
    height: 200px;
    background-color: #e6e6e6;
    margin: -181px 0px 0px 124px;
    clip-path: polygon(50% 0%, 23% 53%, 50% 53%);
}
.wolf_23{
    width: 200px;
    height: 200px;
    background-color: black;
    margin: -194px 0px 0px 124px;
    clip-path: polygon(49% 80%, 23% 50%, 50% 50%);
}
.wolf_24{
    width: 200px;
    height: 209px;
    background-color: #e6e6e6;
    margin: -101px 0px 0px 34px;
    clip-path: polygon(69% 0%, 94% 30%, 48% 49%, 39% 6%);
}
.wolf_25{
    width: 200px;
    height: 200px;
    background-color: #c1c1c1;
    margin: -149px 0px 0px 122px;
    clip-path: polygon(50% 1%, 50% 45%, 26% 45%, 4% 21%);
}
.wolf_26{
    width: 200px;
    height: 220px;
    background-color: #a4a4a4;
    margin: -377px 0px 0px -37px;
    clip-path: polygon(39% 6%, 75% 59%, 84% 100%, 0% 83%);
}
    
   .mirror_wolf {
    margin: -447px 0px 0px 119px;
    transform: scaleX(-1);
    }
   @media (min-width:1200px) {
       .wolf{
        margin: 3px 0px 180px 300px;
       }
   }